body {
    background-color: white; /* Initial background color */
    transition: background-color 0.3s;
}
.switch-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height:20px;
}

.switch {
    display: none;
}

.switch-label {
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch:checked + .switch-label {
    background-color: hsl(0, 0%, 15%);
}

.switch:checked + .switch-label::before {
    transform: translateX(26px);
}

h2{
    color:  hsl(223, 100%, 64%);
    font-size: 1em;
}
form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3); 
}

#temperature{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}
button{
    margin-top: 15px;
    background-color:hsl(0, 75%, 60%);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color:azure;
}
button:hover{
    background-color: hsl(0, 75%, 40%);
}
button:active{
    background-color: hsl(0, 75%, 20%);
}

#temperatureResult{
    font-size: 1.75em;
    font-weight: bold;
    color: black;
}

#diceContainer{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
#inputDice{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceImages img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#passwordGenerator{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3); 
}

#passwordResult{
    font-size: 1.75em;
    font-weight: bold;
    color: black;
}

#copyButton{
    margin-top: 15px;
    margin-left: 10px;
    background-color:hsl(0, 75%, 60%);
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color:azure;
}

#myH1{
    font-size: 2rem;
    font-family: Arial,  sans-serif;
    color:hsl(0, 0%, 25%);
}

#stopwatchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  5px solid;
    border-radius: 15px;
    padding: 30px;
    background-color: white;

}
#display{
    font-size: 3rem;
    font-family: monospace;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.3);
}

#stopwatchControls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(115, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}
#startBtn:active{
    background-color: hsl(115, 100%, 10%);
}


#stopBtn{
    background-color: hsl(10, 90%, 40%);
}
#stopBtn:hover{
    background-color: hsl(10, 90%, 30%);
}
#stopBtn:active{
    background-color: hsl(10, 90%, 10%);
}

#resetBtn{
    background-color: hsl(241, 77%, 57%);
}
#resetBtn:hover{
    background-color: hsl(241, 77%, 30%);
}
#resetBtn:active{
    background-color: hsl(241, 77%, 10%);
}
#calculatorBody{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    
}
#calculatorDisplay{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 29%);
    color: white;

}
#calculatorKeys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}

#calculatorKeys button{
    width:100px;
    height:100px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    transition: background-color 0.5s ease;
}
#calculatorKeys button:hover{
    background-color: hsl(0, 0%, 40%);
}
#calculatorKeys button:active{
    background-color: hsl(0, 0%, 50%);
}
#calculatorKeys .operator-btn{
    background-color: hsl(24, 80%, 53%);
}
#calculatorKeys .operator-btn:hover{
    background-color: hsl(24, 80%, 63%);
}
#calculatorKeys .operator-btn:active{
    background-color: hsl(24, 80%, 73%);
}